<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="Login">
        <classes>
            <class name="ru.beru.LoginTest" />
        </classes>
    </test>
    <test name="City">
        <classes>
            <class name="ru.beru.ChooseCityTest" />
        </classes>
    </test>
    <test name="Toothbrushes">
        <classes>
            <class name="ru.beru.BuyingToothbrushesTest" />
        </classes>
    </test>

</suite>